.login-inputs {
    display: flex;
    flex-direction: column;
    width: 15.5rem;
}

.login-inputs>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.login-inputs label {
    margin-bottom: 5px;
    font-weight: bold;
}

.login-inputs input {
    height: 1.5rem;
    outline: none;
    border: none;
}

#password {
    border: 1px solid red;
}

#password-label {
    color: red;
}

.error-message {
    margin-top: 10px;
    color: red;
}

.radio-input-group,
.checkbox-input-group {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1.25rem 0;
    font-size: 1rem;
}

.radio-input-group div,
.checkbox-input-group div {
    display: flex;
    align-items: center;
}

.radio-input-group label,
.checkbox-input-group label {
    margin-right: 10px;
}

@media screen and (max-width: 500px) {

    .radio-input-group,
    .checkbox-input-group {
        gap: 1rem;
        flex-direction: column;
        justify-content: flex-start;
    }

    .radio-input-group label,
    .checkbox-input-group label {
        min-width: 5.5rem;
    }
}