:root {
    --badge-bg: red;
    --badge-color: white;
    --online-bg: green;
    --offline-bg: grey;
    --busy-bg: red;
}

/* CLASS TO ADD WHEN A BUTTON IS CLICKED TO TOGGLE VISIBILITY OF THE BADGE */

.hidden {
    visibility: hidden;
}

.badge {
    position: relative;
    width: max-content;
}

/* STYLING THE DIFFERENT KINDS OF BADGES */

.badge>span {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--badge-bg);
    height: 18px;
    width: 18px;
    color: var(--badge-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: small;
}

.badge>button {
    padding: 0.5rem;
    width: 6.25rem;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    font-size: 1rem;
}

.badge>p {
    padding: 0.25rem 0.75rem 0 0;
    margin-bottom: 0;
}

.badge>i {
    padding: 10px;
    color: whitesmoke;
}

.badge-left,
.badge-toggle {
    padding: 10px;
}

.badge-lg>span {
    height: 1.5rem;
    width: 1.5rem;
    font-size: large;
}

.badge-lg>p {
    padding: 0.75rem 1.5rem 0 0;
}

.badge-left>span {
    top: 0;
    left: 0;
}

.avatar {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
}

.avatar-badge span {
    height: 0.75rem;
    width: 0.75rem;
    top: 2rem;
    bottom: 0;
    right: 0;
}

.avatar-badge.online span {
    background-color: var(--online-bg);
    border: 2px solid whitesmoke;
}

.avatar-badge.offline span {
    background-color: var(--offline-bg);
    border: 2px solid whitesmoke;
}

.avatar-badge.busy span {
    background-color: var(--busy-bg);
    border: 2px solid whitesmoke;
}