/* GENERIC BODY STYLING */

:root {
    --body-bg: #FFFF00;
    --anchor-hover-color: #0a0a0a;
    --code-example-bg: #282c34;
    --logo-font: 'Gochi Hand', cursive;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
    color: #0a0a0a;
    font-family: 'Nunito', sans-serif;
}


/* STYLING FOR THE HEADER.

    EVERY PAGE THAT HAS A HEADER WILL DERIVE IT'S STYLING FROM THIS STYLESHEET 
    SINCE THE HEADER IS COMMON TO EVERY PAGE.
    
    ALTHOUGH THE HEADER IN THE WELCOME PAGE IS THE SAME, THE STYLING FOR THAT 
    IS EXPLICITLY WRITTEN IN styles.css SINCE IT IS UNNECESSARY TO REFERENCE THIS 
    ENTIRE STYLESHEET JUST FOR THE WELCOME PAGE. for eg. THIS PAGE HAS STYLES FOR
    THE HOMEPAGE SIDEBAR WHICH THE WELCOME PAGE DOES NOT NEED. */


.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 3rem;
    height: max-content;
}

.header-logo {
    font-family: var(--logo-font);
    font-size: 2rem;
    font-weight: bold;
}

.header-navbar {
    margin-left: auto;
}

.header-navbar>ul {
    display: flex;
    gap: 2rem;
    font-weight: bold;
}


/* STYLING THE CONTENT IN THE HOMEPAGE. EVERY COMPONENT PAGE
    WILL DERIVE IT'S STYLING FOR THE CONTAINER, FOOTER AND THE 
    SIDEBAR FROM THIS STYLESHEET SINCE EVERY COMPONENT PAGE IS 
    SIMILAR IN STRUCTURE TO THE HOMEPAGE. eg. EVERY COMPONENT 
    PAGE WILL HAVE A SIDEBAR, FOOTER AND A CONTAINER. */


.container {
    width: 80%;
    margin: 3rem auto;
}

.container ul {
    list-style-type: none;
}

.container a {
    text-decoration: none;
    position: relative;
    cursor: pointer;
    color: black;
}

/* STYLING THE PAGE BODY THAT CONTAINS THE SIDEBAR AND THE CONTENT */

.page-body {
    display: flex;
}

/* CREATING AN UNDERLINE ANIMATION ON HOVER FOR THE ANCHOR TAGS IN THE SIDEBAR */

.page-sidebar a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--anchor-hover-color);
    left: 0;
    bottom: -3px;
    transition: 0.3s;
}

.page-sidebar a:hover::after {
    width: 100%;
}

/* END OF UNDERLINE ANIMATION */

/* STYLING THE PAGE SIDEBAR  */

.page-sidebar {
    width: 20%;
}

.page-sidebar>div,
ul {
    padding-left: 10px;
}

/* STYLING THE TOPICS AND SUBTOPICS IN THE SIDEBAR */

.sidebar-topic {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 1.125rem 0;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid;
}

.sidebar-subtopic {
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

.sidebar-subtopic li {
    padding: 0.5rem 0;
}

/* STYLING THE PAGE CONTENT */

.page-content {
    padding: 0 7% 7% 7%;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.page-content h1 {
    padding: 0.75rem 0;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.page-content p {
    line-height: 35px;
    margin-bottom: 4rem;
    font-size: 1.05rem;
}

/* STYLING THE SECTION THAT DISPLAYS THE INSTALLATION LINK */

.installation-link {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
    background-color: var(--code-example-bg);
    color: silver;
    border-radius: 5px;
    margin-top: -1rem;
    margin-bottom: 3rem;
    padding: 15px 0;
}

/* STYLING THE BOTTOM NAVIGATION */

.page-content .last {
    position: absolute;
    left: 7%;
    bottom: 0;
    font-weight: 700;
}

.page-content .next {
    position: absolute;
    right: 7%;
    bottom: 0;
    font-weight: 700;
}

/* MEDIA QUERY - STYLING FOR DEVICES SMALLER THAN 820px */

@media screen and (max-width: 820px) {
    .container {
        width: 90%;
        margin: 2rem auto;
    }

    .page-sidebar {
        display: none;
    }

    .page-content {
        width: 100%;
    }

    .header-navbar>ul {
        display: flex;
        gap: 1rem;
        font-weight: bold;
    }
}

/* MEDIA QUERY - STYLING FOR DEVICES SMALLER THAN 500px */

@media screen and (max-width: 500px) {
    .page-content h1 {
        font-size: 1.5rem;
    }
}