:root {
    --demo-div-bg: #bdb5d5;
    --code-example-bg: #282c34;
}

h1.sub-heading {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.demo-with-code {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
}

.demo-div {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--demo-div-bg);
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    color: black;
    border-radius: 5px;
    padding: 1.25rem;
    width: 100%;
    margin-bottom: 1rem;
}

.code-examples {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    background-color: var(--code-example-bg);
    border-radius: 5px;
}

@media screen and (max-width: 820px) {

    .demo-div,
    .code-examples {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    h1.sub-heading {
        font-size: 1.25rem;
    }
}