:root {
    --border-color: #BEBEBE;
}

.list .nav-items * {
    color: black;
}

.nav-items ul {
    list-style-type: none;
    padding-top: 0.6rem;
}

.nav-items li {
    margin-bottom: 0.25rem;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.list header h3 {
    letter-spacing: 0.02rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid var(--border-color);
    color: black;
}

.list header h3,
.list ul {
    padding: 1rem;
}

.nav-items a {
    text-decoration: none;
}

.list {
    width: 15rem;
    margin: 6rem auto;
    background-color: whitesmoke;
    border-radius: 2px;
}

.list label {
    margin-left: 0.75rem;
}

.nested-nav-item {
    padding-left: 2rem;
}

.list.stacked li {
    padding-left: 1rem;
    border-bottom: 1px solid var(--border-color);
    height: 2.5rem;
    margin-bottom: 0;
}

.list.stacked li:nth-of-type(3) {
    border-bottom: none;
}

.list.stacked ul {
    padding: 0;
}

.list.stacked ul li i {
    margin-right: 0.5rem;
}